/*DASHICONS*/

@font-face {
    font-family: 'dashicons';
    src: url($fontsPath + '/dashicons/dashicons.eot');
    src: url($fontsPath + '/dashicons/dashicons.eot?#iefix') format('embedded-opentype'),
         url($fontsPath + '/dashicons/dashicons.woff') format('woff'),
         url($fontsPath + '/dashicons/dashicons.ttf') format('truetype'),
         url($fontsPath + '/dashicons/dashicons.svg#dashicons') format('svg');
    font-weight: normal;
    font-style: normal;
}